// Place all the styles related to the Meal controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#eric {
	width:472px;
	height:478px;
	position:absolute;
	bottom:0;
	right:0;
	background-image: image-url("eric_desiring_sushi.png");
}